@import url("/src/fonts/fonts.css");

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("images/background.png");
  padding: 30px 50px 30px 50px;
  border-bottom: 1px solid black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #5d7c7c;
}

#THE {
  position: relative;
  color: #5d7c7c;
  font-size: 30px;
  text-align: center;
  display: block;
  font-family: "brandyregular";
}

#COOKHOUSE {
  position: relative;
  color: #5d7c7c;
  font-size: 64px;
  text-align: center;
  display: block;
  font-family: "mirischregular";
  line-height: 1;
}

#CAFE {
  color: #5d7c7c;
  font-size: 30px;
  text-align: center;
  display: block;
  font-family: "brandyregular";
}

.NavLinks {
  height: 15vh;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: black;
  transition: 0.3s;
}

.MobileNavigation {
  display: none;
}

@media (max-width: 768px) {
  .DesktopNavigation {
    display: none;
  }

  .MobileNavigation {
    display: flex;
    align-items: center;
    height: 15vh;
    /* background-color: red; */
  }

  /* .NavLinks {
    background-color: red;
  } */

  .HamburgerMenu {
    position: absolute;
    right: 2%;
    cursor: pointer;
  }
}
