@import url("/src/fonts/fonts.css");

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("images/background.png");
  padding: 0 25px;
  /* border-bottom: 1px solid black; */
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #5d7c7c;
}

/* .DesktopNavigation,
.MobileNavigation {
  border-bottom: 1px solid black;
} */

.logo {
  display: flex;
  flex-direction: column;

  a {
    font-family: "brandyregular";
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
  }
}

#THE {
  position: relative;
  color: #5d7c7c;
  font-size: 30px;
  text-align: center;
  display: block;
  font-family: "brandyregular";
}

#COOKHOUSE {
  position: relative;
  color: #5d7c7c;
  font-size: 64px;
  text-align: center;
  display: block;
  font-family: "mirischregular";
  line-height: 1;
}

#CAFE {
  color: #5d7c7c;
  font-size: 30px;
  text-align: center;
  display: block;
  font-family: "brandyregular";
}

/* .NavLinks {
  height: 15vh;
} */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: black;
  transition: 0.3s;
}

.MobileNavigation {
  display: none;
}

@media (max-width: 768px) {
  .DesktopNavigation {
    display: none;
  }

  /* .desktop-logo {
    display: none;
  } */

  /* .mobile-logo {
    display: inline-block;
  } */

  .MobileNavigation {
    display: flex;
    align-items: center;
    /* height: 15vh; */
  }

  .HamburgerMenu {
    /* position: absolute;
    right: 2%; */
    cursor: pointer;
  }
}
